<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-View</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p> You are logged in as <strong>{{ role }}</strong>. You have full control here.</p>
    <hr>
    <h2>Admin Controls</h2>
    <ul>
        <li><a href="{% url 'relationship_app:book_list' %}">Manage Books</a></li>
        <li><a href="#">Manage Users</a></li>
        <li><a href="#">System Settings</a></li>
    </ul>
</body>
</html>